1 VERSIONINFO
FILEVERSION 3,1,0,19
PRODUCTVERSION 3,0,0,52
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040704B0"
  {
   VALUE "Comments", "\000"
   VALUE "CompanyName", "\000"
   VALUE "FileDescription", "\000"
   VALUE "FileVersion", "3.1.0.19\000"
   VALUE "InternalName", "\000"
   VALUE "LegalCopyright", "Felix Widmaier\000"
   VALUE "LegalTrademarks", "\000"
   VALUE "OriginalFilename", "\000"
   VALUE "ProductName", "\000"
   VALUE "ProductVersion", "3.0.0.52\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0407, 0x04B0
 }
}

MAINICON ICON "dfcolortool.ico"
